<button onclick="window.modal1.showModal();">Politicas de privacidad</button>

<dialog id="modal1">
   <h2>Politicas de privacidad</h2>
   <p>Al seguir navegando por esta pagina web estoy aceptando los terminos y condiciones que usa este sitio web</p>
   <a href="Politicas.html">politicas de privacidad</a>
   <button onclick="window.modal1.close();">Cerrar</button>
   <button onclick="window.modal1.close();">Aceptar</button>
</dialog>

<div class="">
  Realizar un Acerca de utlizando elementos 
  provisto por Materialize Css.
</div>
